.page {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  justify-content: center;
  box-sizing: content-box;
  font-family: "Inter", "Arial", sans-serif;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}
