.profile__add-button {
  background-image: url("../../../images/Vector-plus.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;
  background-color: Transparent;
  width: 150px;
  height: 50px;
  padding: 0;
  margin-left: auto;
  margin-top: 35px;
  cursor: pointer;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 2px;
  opacity: 1;

}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 700px) {
  .profile__add-button {
    /* width: 282px;
    background-size: 16px;
    margin-top: 32px; */
    margin: 34px 0 0;
    width: 282px;
    justify-content: center;
    background-size: 16px;
  }
}
